
NEXT_PUBLIC_BUNNY_CDN_URL=https://cms-profound.b-cdn.net
NEXT_PUBLIC_CMS_API_URL=https://cms.dev.tryprofound.com
NEXT_PUBLIC_PROFOUND_WEBSITE_ID=00000000-0000-0000-0000-000000000000
PROFOUND_API_KEY=
